In [1]:
from __future__ import print_function
import numpy as np
import pandas as pd
np.random.seed(1)
import sys
import sklearn
import sklearn.ensemble
%load_ext autoreload
%autoreload 2
from anchor import anchor_tabular
from sklearn.model_selection import train_test_split
import re
import copy
import json

In [2]:
import random
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
## 定義一個 class
class Bunch(object):
    """bla"""
    def __init__(self, adict):
        self.__dict__.update(adict)
dataset = Bunch({})

In [4]:
# 原本的 code
seed = 42
random.seed(seed)

df = pd.read_csv('BankChurners.csv')
df = df[df.columns[:-2]]
df = df.fillna(0)
df['Attrition_Flag'] = df['Attrition_Flag'].replace({'Attrited Customer':1, 'Existing Customer':0})
df['Gender'] = df['Gender'].replace({'M':1, 'F':0})
df = df.drop('CLIENTNUM',axis=1)
df = pd.get_dummies(data=df, columns=['Education_Level', 'Marital_Status', 
                                      'Income_Category', 'Card_Category']) # one-hot encoding

In [5]:
churn_index = df.index[df.Attrition_Flag == 1].tolist()
non_churn_index = df.index[df.Attrition_Flag == 0].tolist()
non_churn_index = random.sample(non_churn_index, len(churn_index)) # 讓 churn : non_churn 資料個數為 1 : 1
new_idx = churn_index + non_churn_index
df = df.loc[new_idx]

In [6]:
# 把原本的 pandas.DataFrame 轉成 np.array 
y = df['Attrition_Flag'].to_numpy()
df_no_y = df.drop('Attrition_Flag', axis=1)
x = df_no_y.to_numpy()
print(y.shape)
print(x.shape)

(3254,)
(3254, 36)

In [7]:
# 模型預測
c = sklearn.ensemble.RandomForestClassifier(n_estimators=50, n_jobs=5)
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, random_state=100)
c.fit(train_x, train_y)
print('Train', sklearn.metrics.accuracy_score(train_y, c.predict(train_x)))
print('Test', sklearn.metrics.accuracy_score(test_y, c.predict(test_x)))

Train 1.0
Test 0.9416282642089093

In [8]:
# 定義 anchor 中的參數
dataset.train = train_x # 訓練資料 (numpy)
dataset.test = test_x  # 測試資料 (numpy)
dataset.categorical_names = {} # label encoding前的內容 (dict) 
dataset.class_names = ['Existing Customer','Attrited Customer'] # label的名稱 (list) 
dataset.feature_names = np.array(df_no_y.columns.to_list()) # feature的名稱 (numpy)

In [9]:
# anchor explainer 
explainer = anchor_tabular.AnchorTabularExplainer(
    dataset.class_names,
    dataset.feature_names,
    dataset.train,
    dataset.categorical_names)

In [10]:
'''
input 內容:
    1. start -> 從哪一個客戶開始找 anchor
    2. number -> 要從幾個客戶身上找 anchor
    3. dataset -> 訓練模型時使用的 dataset
    4. df -> 原始表格
    5. model -> 要解釋的模型
    6. seed -> 亂數種子(預設為1) 


重要變數:
    1. anchors_list : 所有 anchor 集合
    2. anchors : 做過 regular expression 的所有 anchor 集合
    3. anchors_info : anchor 詳細資料  
        (1) 規則
        (2) anchor 所包含的客戶數量
        (3) 
    4. potential_customer : 潛在客戶名單
    
'''
def customer_list(start, number, dataset, df, model, seed = 1):
    
    # 設定種子
    np.random.seed(seed)

    # 製作 Anchors 解釋器
    explainer = anchor_tabular.AnchorTabularExplainer(
            dataset.class_names,
            dataset.feature_names,
            dataset.train,
            dataset.categorical_names)

    # 變數定義
    potential_customer = pd.DataFrame() #潛在客戶名單
    anchors_list = [] # anchors 規則清單
    anchors_list_confidence = [] # anchors 規則信心水準清單
    anchors = [] # 經過 regular expression 的 anchors 規則
    anchors_info = [] # anchors 詳細清單
    
    
    
    # 從 anchors 抓取資訊
    current_number = 0
    for i in dataset.test[start:]:
        if (current_number == number):
            break
        if(model.predict(i.reshape(1, -1))[0]):
            exp = explainer.explain_instance(i, model.predict, threshold=0.95)
            anchors_list.append(exp.names()) # anchors 結果
            anchors_list_confidence.append(exp.precision()) # anchors 精確度
            current_number += 1
    
    # 將重複的 anchors 刪掉
    temp_anchors_list = []
    for i,j in enumerate(anchors_list):
        if j not in anchors:
            temp_anchors_list.append(j)
            anchors_info.append(
                {
                    "condition" : j,
                    "Quantity covered" : 0,
                    "confidence interval" : anchors_list_confidence[i]
                }
            ) 
    anchors_list = temp_anchors_list
   
    # 將規則做 regular expression 並存入 anchors 中 
    for i in anchors_list:   
        str_split = [re.split('( <= | >= | < | > )',j) for j in i]
        anchors.append(str_split)
    
    ## 從找到的規則中尋找潛在客戶  
    '''
    演算法 :
    
    1. 從全部的 anchors 中，取出一個 anchor，後續步驟以下分述之:

        (1) 根據該 anchor 中的條件取出一個條件進行篩選，並將篩選出是否符合客戶資料之結果，放入 idx 變數中。
        (2) 使用 idx 變數篩選符合該條件的客戶，存到 temp_df變數中。若有其他條件需要篩選 -> 回到(1)；否則則進到(3)。
        (3) 將 temp_df 中 label 為 0 (非目前客戶)的客戶，放入潛在客戶名單。若有其他 anchor 未計算 -> 回到 1.；否則則進到 2.。 
    
    2. 將資料輸出，輸出內容以下分述之:
        
        (1) anchor 名單
        (2) 潛在客戶名單
    '''
    for n,anchor in enumerate(anchors):
        
        temp_df = df 
        for i in anchor:
            if (i[1] == ' >= '):
                idx = temp_df.loc[:,i[0]] >= float(i[2])
            elif (i[1] == ' <= '):
                idx = temp_df.loc[:,i[0]] <= float(i[2])
            elif (i[1] == ' > '):
                idx = temp_df.loc[:,i[0]] > float(i[2])
            elif (i[1] == ' < '):
                idx = temp_df.loc[:,i[0]] < float(i[2])
            else:
                continue
             
            temp_df = temp_df[idx]
            anchors_info[n]['Quantity covered'] = temp_df.shape[0] 

        else:    
            idx = temp_df.loc[:,'Attrition_Flag'] == 0
            temp_df = temp_df[idx] 
            potential_customer = pd.concat([potential_customer,temp_df], join='outer')

    
    with open("anchors.json", "w", encoding='utf-8') as f:
        json.dump(anchors_list, f, indent = 4)

    with open("anchors_info.json", "w", encoding='utf-8') as f:
        json.dump(anchors_info, f, indent = 4)

    potential_customer.to_excel("potential_customer.xlsx")
    
    return(potential_customer)

In [11]:
# anchor 
start = 10
number = 10
print(customer_list(start, number, dataset, df, c))

      Attrition_Flag  Customer_Age  Gender  Dependent_count  Months_on_book  \
124                0            55       1                2              42
8248               0            43       1                1              30
1541               0            45       1                4              37
1151               0            44       0                3              36
3902               0            50       1                3              36
7931               0            45       1                3              37
163                0            47       0                4              41
374                0            55       0                1              43
3428               0            45       0                3              36
2136               0            26       0                1              15
1935               0            44       1                1              33
113                0            54       0                0              36
63                 0            44       1                4              32
260                0            36       1                2              22
258                0            45       0                2              35
152                0            50       0                1              31

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
124                          2                       3                      2
8248                         1                       1                      3
1541                         5                       2                      4
1151                         6                       3                      3
3902                         5                       3                      4
7931                         1                       3                      2
163                          6                       5                      3
374                          4                       2                      0
3428                         4                       4                      3
2136                         3                       4                      3
1935                         5                       4                      3
113                          2                       2                      2
63                           2                       4                      2
260                          2                       2                      3
258                          2                       3                      0
152                          2                       2                      3

      Credit_Limit  Total_Revolving_Bal  ...  Income_Category_$120K +  \
124        34516.0                 1527  ...                        1
8248       34516.0                 2045  ...                        0
1541        6784.0                  891  ...                        0
1151        1467.0                  896  ...                        0
3902       27876.0                  557  ...                        1
7931        2449.0                    0  ...                        0
163         3482.0                 2114  ...                        0
374         2569.0                 1403  ...                        0
3428        6245.0                    0  ...                        0
2136        5464.0                    0  ...                        0
1935       19214.0                    0  ...                        0
113         1494.0                  706  ...                        0
63         23957.0                 2102  ...                        1
260        34516.0                 1652  ...                        0
258         3540.0                  849  ...                        0
152        18386.0                    0  ...                        0

      Income_Category_$40K - $60K  Income_Category_$60K - $80K  \
124                             0                            0
8248                            0                            0
1541                            0                            1
1151                            0                            0
3902                            0                            0
7931                            1                            0
163                             0                            0
374                             0                            0
3428                            0                            0
2136                            0                            0
1935                            0                            0
113                             0                            0
63                              0                            0
260                             0                            0
258                             1                            0
152                             1                            0

      Income_Category_$80K - $120K  Income_Category_Less than $40K  \
124                              0                               0
8248                             1                               0
1541                             0                               0
1151                             0                               1
3902                             0                               0
7931                             0                               0
163                              0                               1
374                              0                               1
3428                             0                               1
2136                             0                               0
1935                             1                               0
113                              0                               1
63                               0                               0
260                              1                               0
258                              0                               0
152                              0                               0

      Income_Category_Unknown  Card_Category_Blue  Card_Category_Gold  \
124                         0                   0                   0
8248                        0                   0                   0
1541                        0                   1                   0
1151                        0                   1                   0
3902                        0                   1                   0
7931                        0                   1                   0
163                         0                   1                   0
374                         0                   1                   0
3428                        0                   1                   0
2136                        1                   1                   0
1935                        0                   1                   0
113                         0                   1                   0
63                          0                   1                   0
260                         0                   1                   0
258                         0                   1                   0
152                         0                   0                   0

      Card_Category_Platinum  Card_Category_Silver
124                        0                     1
8248                       0                     1
1541                       0                     0
1151                       0                     0
3902                       0                     0
7931                       0                     0
163                        0                     0
374                        0                     0
3428                       0                     0
2136                       0                     0
1935                       0                     0
113                        0                     0
63                         0                     0
260                        0                     0
258                        0                     0
152                        0                     1

[16 rows x 37 columns]

potential_customer = pd.DataFrame()
for j in anchor:
    idxUnion = 0
    temp_df = df
    for n,i in enumerate(j):
        if (i[1] == ' >= '):
            idx = temp_df.loc[:,i[0]] >= float(i[2])
        elif (i[1] == ' <= '):
            idx = temp_df.loc[:,i[0]] <= float(i[2])
        elif (i[1] == ' > '):
            idx = temp_df.loc[:,i[0]] > float(i[2])
        elif (i[1] == ' < '):
            idx = temp_df.loc[:,i[0]] < float(i[2])
        else:
            continue
        
        if n == 0:
            idxUnion = idx
        else:
            idxUnion = idx & idxUnion
        
        temp_df = temp_df[idxUnion]
        idxUnion = idxUnion[idxUnion]
        #print(temp_df.shape)
    else:    
        idx = temp_df.loc[:,'Attrition_Flag'] == 0
        idxUnion = idx & idxUnion
        temp_df = temp_df[idxUnion] 
        #print(temp_df.shape) 
        #idxUnion = idxUnion[idxUnion]
        potential_customer = pd.concat([potential_customer,temp_df], join='outer')